@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .headings {
    @apply text-4xl md:text-6xl lg:text-6xl xl:text-7xl 2xl:text-8xl;
  }
  .buttonPrimary {
    @apply text-sm md:text-lg border;
  }
}
.buttonPrimary {
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #ffedd3;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
}

.buttonPrimary::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ffc506;
  transition: 0.5s ease;
}

.buttonPrimary:hover {
  color: #1e1e2b;
  transition-delay: 0.5s;
}

.buttonPrimary:hover::before {
  width: 100%;
}

.buttonPrimary::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffc506;
  transition: 0.4s ease;
  z-index: -1;
}

.buttonPrimary:hover::after {
  border: 2px 2px 0px 2px solid white;
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}

html {
  margin: 0;
  scroll-behavior: smooth;
  padding: 0%;
  background-color: black;
  max-width: 100%;
  overflow-x: hidden;
}

/* login page bg */
.loginBg {
  background-image: url(../assets/loginPage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  width: 99vw;
  height: 100vh;
}

/* navbar */
.navbar {
  background: rgba(255, 255, 255, 0.14);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  border: 1px solid rgba(255, 255, 255, 0.26);
}

/* swiper */

.swiper {
  margin: 100px auto;
  height: 100vh;
  overflow-x: hidden;
  width: 98vw;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  height: 100vh;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bgWrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

.bgText {
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  /* padding-top: 40vh; */
  width: full;
  height: 100vh;
}
/* .swiper-slide:nth-child(1n) {
  background-image: url("../assets//banner/alex_rainer-1_lxISUE3F4-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: brightness(60%);
}

.swiper-slide:nth-child(2n) {
  background-image: url("../assets//banner/nathan-van-egmond-uwrTwMaxVR4-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: brightness(60%);
}

.swiper-slide:nth-child(3n) {
  background-image: url("../assets//banner/david-von-diemar-_j2bDuQVEO8-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: brightness(60%);
}

@media screen and (max-width: 768px) {
  .swiper-slide:nth-child(1n) {
    background-image: url("../assets//banner/alex_rainer-1_lxISUE3F4-unsplash.jpg");
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: brightness(60%);
  }

  .swiper-slide:nth-child(2n) {
    background-image: url("../assets//banner/nathan-van-egmond-uwrTwMaxVR4-unsplash.jpg");
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: brightness(60%);
  }

  .swiper-slide:nth-child(3n) {
    background-image: url("../assets//banner/david-von-diemar-_j2bDuQVEO8-unsplash.jpg");
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: brightness(60%);
  }
} */

/* 88888 */

.swiper-button-prev {
  position: absolute;
  top: 90% !important;
  width: 3% !important;
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  left: 90% !important;
  gap: 10px !important;
  padding-right: 5% !important;
  padding-bottom: 2% !important;
  align-items: flex-end !important;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
  background-color: none !important;
}

.swiper-button-next {
  position: absolute;
  top: 90% !important;
  width: 3% !important;
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  left: 95% !important;
  gap: 10px !important;
  padding-right: 5% !important;
  padding-bottom: 2% !important;
  align-items: flex-end !important;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
  background-color: none !important;
}

/* Navigation font start */
.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  border-radius: 10% !important;
  background-color: #fff !important;
  padding: 10px !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}

@media screen and (max-width: 768px) {
  .swiper-button-prev {
    position: absolute;
    top: 80% !important;
    width: 3% !important;
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    left: 75% !important;
    padding-right: 5% !important;
    padding-bottom: 2% !important;
    align-items: flex-end !important;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
    background-color: none !important;
  }

  .swiper-button-next {
    position: absolute;
    top: 80% !important;
    width: 3% !important;
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    left: 90% !important;
    padding-right: 5% !important;
    padding-bottom: 2% !important;
    align-items: flex-end !important;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
    background-color: none !important;
  }

  /* Navigation font start */
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-family: swiper-icons;
    font-size: 20px !important;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    border-radius: 10% !important;
    background-color: #fff !important;
    padding: 10px !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
  }
}
/* Navigation font end */
