@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .headings {
    @apply text-3xl md:text-5xl lg:text-5xl xl:text-7xl 2xl:text-7xl font-bold uppercase;
  }
  .sub-heading {
    @apply text-base md:text-2xl lg:text-3xl font-semibold uppercase text-yellow-950;
  }
  .primary-text {
    @apply text-sm md:text-base font-bold text-yellow-950;
  }
  .buttonPrimary {
    @apply text-sm md:text-lg border;
  }
  .feature-title {
    @apply text-lg md:text-2xl  xl:text-3xl font-semibold;
  }
  .feature-description {
    @apply text-sm md:text-base;
  }
}
html {
  scroll-behavior: smooth;
}
.buttonPrimary {
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #ffedd3;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
}

.buttonPrimary::before {
  color: white;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ffc506;
  transition: 0.5s ease;
}

.buttonPrimary:hover {
  color: #1e1e2b;
  transition-delay: 0.5s;
}

.buttonPrimary:hover::before {
  width: 100%;
}

.buttonPrimary::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffc506;
  transition: 0.4s ease;
  z-index: -1;
  color: white;
}

.buttonPrimary:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: white;
}

html {
  margin: 0;
  scroll-behavior: smooth;
  padding: 0%;
  background-color: black;
  max-width: 100%;
  overflow-x: hidden;
}

/* login page bg */
.loginBg {
  background-image: url(../assets/loginPage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  width: 99vw;
  height: 100vh;
}

/* navbar */
.navbar {
  background: rgba(255, 255, 255, 0.14);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  border: 1px solid rgba(255, 255, 255, 0.26);
}
.bgWrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

.bgText {
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  width: full;
  height: 100vh;
}
#tsparticles canvas {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}
